In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import plotly as ly
import pathlib 
import os
#In order to show plots in Jupyter notebook use:
%matplotlib inline
plt.style.use("ggplot")

# Start
This is Brian's first test Markdown in Jupyter in PyCharm
The test will be plotting Anabaena using plotly

In [3]:
print(os.getcwd())
fp = "../Data/CombineData.csv"
df = pd.read_csv(fp)
df["Time"] = pd.to_datetime(df["Time"], errors='coerce', dayfirst=True )
df.head()

F:\Git\P1901\Code

,Time,AnaR2,AnaR6,AnaR12,test,Ther_TG_1.0_8.0,UTSR6_TG_0.5_7.0,UTSR6_TG_0.5_7.5,UTSR12_TG_0.5_8.5,UTSR12_TG_0.5_9.0,UTSR2_TG_0.5_4.5,UTSR2_TG_0.5_5.0,XYLR6_TG_1.0_7.0,XYLR6_TG_2.0_7.0,XYLR9_TG_0.5_10.0,XYLR2_TG_0.5_10.0
0,2009-05-19,0.0,0.0,0.0,NaN,0.018571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-05-20,NaN,NaN,NaN,NaN,0.003036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-05-21,NaN,NaN,NaN,NaN,0.002143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-05-22,NaN,NaN,NaN,NaN,-0.000476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-05-23,NaN,NaN,NaN,NaN,0.000119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Head looks OK so far...Let's drop some f the unnecessary columns

In [4]:
df.drop(columns=['UTSR6_TG_0.5_7.0','UTSR12_TG_0.5_8.5','UTSR2_TG_0.5_4.5','XYLR6_TG_2.0_7.0'],inplace=True)
#df.drop(columns=["XYLR6_TG_2.0_7.0"],inplace=True)
df.head()

,Time,AnaR2,AnaR6,AnaR12,test,Ther_TG_1.0_8.0,UTSR6_TG_0.5_7.5,UTSR12_TG_0.5_9.0,UTSR2_TG_0.5_5.0,XYLR6_TG_1.0_7.0,XYLR9_TG_0.5_10.0,XYLR2_TG_0.5_10.0
0,2009-05-19,0.0,0.0,0.0,NaN,0.018571,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-05-20,NaN,NaN,NaN,NaN,0.003036,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-05-21,NaN,NaN,NaN,NaN,0.002143,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-05-22,NaN,NaN,NaN,NaN,-0.000476,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-05-23,NaN,NaN,NaN,NaN,0.000119,NaN,NaN,NaN,NaN,NaN,NaN

OK . Now Let's just bang in Gaff's stuff and see where it's going?..

In [5]:
# Thermistor Data
ther = df["UTSR6_TG_0.5_7.5"].count()
ther

544

In [6]:

df.head()

,Time,AnaR2,AnaR6,AnaR12,test,Ther_TG_1.0_8.0,UTSR6_TG_0.5_7.5,UTSR12_TG_0.5_9.0,UTSR2_TG_0.5_5.0,XYLR6_TG_1.0_7.0,XYLR9_TG_0.5_10.0,XYLR2_TG_0.5_10.0
0,2009-05-19,0.0,0.0,0.0,NaN,0.018571,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-05-20,NaN,NaN,NaN,NaN,0.003036,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-05-21,NaN,NaN,NaN,NaN,0.002143,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-05-22,NaN,NaN,NaN,NaN,-0.000476,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-05-23,NaN,NaN,NaN,NaN,0.000119,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
test = df['UTSR2_TG_0.5_5.0'].count()
test

544

In [8]:
df.dtypes

Time                 datetime64[ns]
AnaR2                       float64
AnaR6                       float64
AnaR12                      float64
test                        float64
Ther_TG_1.0_8.0             float64
UTSR6_TG_0.5_7.5            float64
UTSR12_TG_0.5_9.0           float64
UTSR2_TG_0.5_5.0            float64
XYLR6_TG_1.0_7.0            float64
XYLR9_TG_0.5_10.0           float64
XYLR2_TG_0.5_10.0           float64
dtype: object

In [ ]:
df.head()
##

Now lets add three new variables to the df -  the logs of the Anabaena concentrations

In [11]:
df["AnaR2_log10"] = np.log10(df["AnaR2"])
df["AnaR6_log10"] = np.log10(df["AnaR6"])
df["AnaR12_log10"] = np.log10(df["AnaR12"])
df.head()
print(df.columns)

Index(['Time', 'AnaR2', 'AnaR6', 'AnaR12', 'test', 'Ther_TG_1.0_8.0',
       'UTSR6_TG_0.5_7.5', 'UTSR12_TG_0.5_9.0', 'UTSR2_TG_0.5_5.0',
       'XYLR6_TG_1.0_7.0', 'XYLR9_TG_0.5_10.0', 'XYLR2_TG_0.5_10.0',
       'AnaR2_log10', 'AnaR6_log10', 'AnaR12_log10'],
      dtype='object')

C:\Users\bjw64\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning:

divide by zero encountered in log10

C:\Users\bjw64\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning:

divide by zero encountered in log10

C:\Users\bjw64\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning:

divide by zero encountered in log10

Now we're ready to plot some basic stuff